.btn-done {
  border-radius: 100px;
  float: right;
  background-color: #3fa5fe !important;
  color: white !important;
}

.attention-icon {
  padding: 0;
  background-color: rgba(63, 165, 255, 0.1);
  color: #3fa5fe !important;
  border-radius: 100px;
  width: 35px;
  height: 35px;
  margin-top: 0px;
  margin-right: 18px;
}

.attention-icon-rtl {
  padding: 0;
  background-color: rgba(63, 165, 255, 0.1);
  color: #3fa5fe !important;
  border-radius: 100px;
  width: 35px;
  height: 35px;
  margin-top: 0px;
  margin-left: 18px;
}

.action-items {
  float: right;
}

.osos-button-close-popup {
  color: #1e293b;
  border: 1px solid #e2e8f0;
  border-radius: 100px;
  background-color: white;
}
