.attention-icon {
  display: flex;
  padding: 5px;
  background-color: rgba(255, 0, 0, 0.1);
  border-radius: 100px;
  width: 35px;
  height: 35px;
  font-size: 23px !important;
  margin-top: 0px;
}

.action-items {
  float: right;
}

.osos-button-close-popup {
  color: #1e293b;
  border: 1px solid #e2e8f0;
  border-radius: 100px;
  background-color: white;
}
