/* You can add global styles to this file, and also import other style files */
html {
  scroll-behavior: smooth;
}
body {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #f8fafc;
}
.main-wrap {
  display: block;
  position: relative;
  width: calc(100% - 40px);
  left: 51px;
  top: 120px;
  overflow: scroll;
  z-index: 1;
  height: calc(100% - 100px);
  // padding-bottom: 2rem;
}
.main-wrap-rtl {
  display: block;
  position: relative;
  width: calc(100% - 40px);
  right: 10px;
  top: 120px;
  overflow: scroll;
  z-index: 1;
  height: calc(100% - 100px);
  // padding-bottom: 2rem;
}
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: blue orange;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #e4e4e4;
  border-radius: 20px;
}

html,
body {
  height: 100%;
}
* {
  font-size: 12px;
  line-height: initial;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mat-expansion-panel-header-description,
.mat-expansion-indicator::after {
  color: #fff;
}
.submenu-bottom span.mat-expansion-indicator {
  width: 12px;
  display: flex;
  justify-content: center;
}
.mat-mdc-form-field-infix {
  min-height: 45px;
}
.mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
  top: 23px;
}

.d-flex {
  display: flex;
}
.mat-icon {
  font-size: 25px;
}
/* .mat-toolbar .mat-icon{
    height: 33px;
    width: 33px;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.mat-toolbar .mat-mdc-icon-button {
  height: auto;
  width: auto;
  padding: 6px;
  display: flex;
}
.mat-toolbar .mdc-button {
  min-height: 12px;
  display: flex;
  padding: 0 20px;
  line-height: 1;
  height: 31px;
}
.d-flex.toolbar-icons {
  justify-content: space-around;
  width: 300px;
}
.breadcrumb {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-mdc-table .mdc-data-table__header-row {
  height: 50px;
}
.mat-mdc-table .mdc-data-table__row {
  height: 50px;
}
.table-label {
  background: #51da67;
  border-radius: 25px;
  color: #fff;
  width: 74px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.table-label-inactive {
  padding: 3px 0px;
  background-color: #b6b6b6;
  border-radius: 25px;
  color: #000000;
  width: 74px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.table-label-failed {
  background: #fb4a4a;
  border-radius: 25px;
  color: #fff;
  width: 74px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.danger.mdc-list-item {
  color: #e0272a;
}
.danger.mdc-list-item.mat-mdc-menu-item .mat-icon-no-color,
.mat-mdc-menu-submenu-icon {
  color: #e0272a;
}
.action-items {
  min-height: 38px !important;
  height: 38px;
}
.paginator .mdc-text-field {
  border: none;
}
.mat-container {
  padding: 0 16px;
}
.main-wrap .mat-expansion-panel-header {
  background: #fbfbfb;
  color: #047be3;
  height: 35px;
}
.main-wrap-rtl .mat-expansion-panel-header {
  background: #fbfbfb;
  color: #047be3;
  height: 35px;
}
.main-wrap .mat-expansion-panel-header:hover {
  background: #fbfbfb;
  color: #047be3;
}
.main-wrap-rtl .mat-expansion-panel-header:hover {
  background: #fbfbfb;
  color: #047be3;
}
.main-wrap
  .mat-expansion-panel:not(.mat-expanded)
  .mat-expansion-panel-header:hover:not([aria-disabled='true']) {
  background: #fbfbfb;
  color: #047be3;
}
.main-wrap-rtl
  .mat-expansion-panel:not(.mat-expanded)
  .mat-expansion-panel-header:hover:not([aria-disabled='true']) {
  background: #fbfbfb;
  color: #047be3;
}
.main-wrap .mat-expansion-panel-header-description,
.main-wrap .mat-accordion .mat-expansion-indicator::after {
  color: #047be3;
}
.main-wrap-rtl .mat-expansion-panel-header-description,
.main-wrap-rtl .mat-accordion .mat-expansion-indicator::after {
  color: #047be3;
}
.main-wrap .mat-expansion-panel-header-title {
  color: #047be3;
  font-size: 12px;
  font-weight: 500;
}
.main-wrap-rtl .mat-expansion-panel-header-title {
  color: #047be3;
  font-size: 12px;
  font-weight: 500;
}
.form-control.mat-mdc-form-field {
  width: 100%;
  padding: 0 12px;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent;
}
.mat-mdc-form-field-focus-overlay {
  background-color: transparent;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-line-ripple::before {
  border-bottom-color: #cbd5e1;
}
.mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined)
  .mat-mdc-form-field-infix {
  padding-top: 19px;
  padding-bottom: 0px;
}
.example-section.form-control {
  display: flex;
  width: 100%;
  align-items: center;
  align-items: baseline;
}
.form-control .checkbox .left h6 {
  margin: 0;
  margin-bottom: 8px;
}
.form-control .checkbox .left p {
  margin: 0;
}
.form-control .checkbox.mat-mdc-slide-toggle .mdc-switch {
  margin: 0;
  position: absolute;
  right: 28px;
}
.form-control .checkbox-rtl.mat-mdc-slide-toggle .mdc-switch {
  margin: 0;
  position: absolute;
  left: 28px;
}
.mat-expansion-panel-body {
  padding-top: 15px !important;
}
.main-search-wrap .mat-mdc-form-field-subscript-wrapper {
  display: none !important;
  visibility: hidden;
}
.search-input .mat-mdc-form-field-infix {
  display: flex;
}
.sevessearch
  .mat-mdc-menu-content
  .mat-mdc-menu-item
  .mdc-list-item__primary-text {
  font-size: 12px;
  line-height: 1;
}
.sevessearch .mat-mdc-menu-content .mat-mdc-menu-item {
  min-height: 32px;
}
.osos-st.btn-save {
  border-radius: 100px;
  background-color: #3fa5ff !important;
  color: white !important;
  margin-left: 12px;
  transition: all 0.5s ease-out;
}
.osos-st.btn-save:hover {
  background-color: #0076dd !important;
  transition: all 0.5s ease-out;
}
.osos-st.btn-outline {
  border-radius: 100px;
  border: solid 2px #3fa5ff;
  color: #3fa5ff !important;
  transition: all 0.5s ease-out;
}
.submenu-bottom .mat-expansion-panel:not([class*='mat-elevation-z']) {
  box-shadow: none;
}

.body {
  .mat-icon {
    font-size: 18px;
    width: 18px;
    height: 18px;
  }
}
.search-section .mat-mdc-form-field {
  height: 40px;
  margin-bottom: 12px;
}
.search-section .mat-mdc-form-field :-moz-placeholder {
  color: #fff !important;
  font-weight: 400;
}
.search-section .mat-mdc-form-field :-ms-input-placeholder {
  color: #fff !important;
  font-weight: 400;
}
.search-section .mat-mdc-form-field ::-webkit-input-placeholder {
  color: #fff !important;
  font-weight: 400;
}

.mdc-text-field--disabled.mdc-text-field--filled {
  background-color: #ececec;
}
.main-wrap .mat-expansion-panel .mat-expansion-panel-header {
  background: #f3f5f7;
  color: #047be3;
  height: 35px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.main-wrap .mat-accordion .mat-expansion-panel-header-description,
.main-wrap .mat-accordion .mat-expansion-indicator::after {
  color: #047be3;
  border-color: #047be3;
}
.main-wrap .mat-expansion-panel-header-description,
.main-wrap .mat-expansion-indicator::after {
  color: #047be3;
  border-color: #047be3;
}
.main-wrap .mat-expansion-panel-header:hover {
  background: #f3f5f7;
  color: #047be3;
}
.main-wrap .mat-expansion-panel-header.mat-expanded:focus,
.main-wrap .mat-expansion-panel-header.mat-expanded:hover {
  background: #f3f5f7;
  color: #047be3;
}

.text-10 {
  font-size: 10px !important;
}

:host
  ::ng-deep
  .mat-slide-toggle.mat-checked:not(.mat-disabled)
  .mat-slide-toggle-bar {
  background-color: #3fa5ff;
}

:host
  ::ng-deep
  .mat-slide-toggle.mat-checked:not(.mat-disabled)
  .mat-slide-toggle-thumb {
  background-color: #3fa5ff;
}

.osos-dropdown-widthset .mat-mdc-form-field {
  display: block !important;
}
.osos-checkboxes > .osos-tree {
  display: inline-block;
}

.osos-checkboxes > .osos-tree ~ .osos-tree {
  margin-left: 0px;
}
@media screen and (max-width: 769px) {
  .osos-checkboxes > .osos-tree {
    margin-left: 100px;
    display: block;
    padding-left: 60px;
  }
  .osos-checkboxes > .osos-tree ~ .osos-tree {
    margin-left: 100px;
  }
  .osos-matgroup {
    margin-top: 40px;
  }
}

@media (max-width: 425px) {
  .osos-checkboxes > .osos-tree {
    margin-left: 100px;
    display: block;
    padding-left: 60px;
  }
  .osos-checkboxes > .osos-tree ~ .osos-tree {
    margin-left: 100px;
  }
  .osos-matgroup {
    margin-top: 40px;
  }
}

.body .mat-expansion-panel-body {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.mat-mdc-snack-bar-container-error {
  --mat-mdc-snack-bar-button-color: #ffffff;
  --mdc-snackbar-supporting-text-color: #ffffff;
  --mdc-snackbar-container-color: #f23a2f;
}

.mat-mdc-snack-bar-container-success {
  --mat-mdc-snack-bar-button-color: #ffffff;
  --mdc-snackbar-supporting-text-color: #ffffff;
  --mdc-snackbar-container-color: #43a446;
}
.profile-image-wrap {
  position: relative;
  border-radius: 8px;

  overflow: hidden;
  aspect-ratio: 1 / 1;
  .background-top {
    background: url(../assets/img/pic-preview.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}
.body .mat-expansion-panel-body {
  padding-top: 0px !important;
}
.image-uploader-dialog .mdc-dialog__surface {
  background-color: #f7fafd !important;
  h1 {
    font-size: 14px;
  }
  .mat-mdc-dialog-actions {
    justify-content: end;
  }
  .btn-save {
    margin-right: 15px;
  }
}
.image-preview-dialog .mdc-dialog__surface {
  background-color: #f7fafd !important;
  h1 {
    font-size: 14px;
  }
}
.example-form-bookmark .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

.mat-mdc-snack-bar-container-error {
  --mat-mdc-snack-bar-button-color: #ffffff;
  --mdc-snackbar-supporting-text-color: #ffffff;
  --mdc-snackbar-container-color: #f23a2f;
}

.mat-mdc-snack-bar-container-success {
  --mat-mdc-snack-bar-button-color: #ffffff;
  --mdc-snackbar-supporting-text-color: #ffffff;
  --mdc-snackbar-container-color: #43a446;
}
/* .example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
} */
.osos-close-drawer {
  float: right;
  position: absolute;
  right: 20px;
}
.osos-close-drawer-rtl {
  float: left;
  position: absolute;
  left: 20px;
}
.osos-sidedrawer-header {
  color: white;
  h2 {
    font-size: 17px;
    line-height: 1.5;
  }
}

.osos-sidedrawer-header h1,
mat-icon {
  font-size: 20px;
  margin: 0;
}
.osos-sidedrawer-header {
  background-color: #3fa5ff;
  height: 75px;
}
.osos-sidedrawer {
  top: 0px;
  right: 0px;
  position: absolute;
  height: 100%;
  width: 350px;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  border-radius: 10px;
}

.example-sidenav {
  padding: 20px;
}

.example-container {
  width: 400px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.example-list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow:
    0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.osos-tab-height .mat-mdc-tab-body-wrapper {
  height: 600px !important;
}
.osos-drawer-dragicon {
  position: absolute;
  left: 5px;
  top: 10px;
  font-size: 14px;
}
.osos-drawer-dragicon-rtl {
  position: absolute;
  right: 5px;
  top: 10px;
  font-size: 14px;
}
.filterby-delete-icon {
  position: absolute;
  right: 20px;
}
.filterby-delete-icon-rtl {
  position: absolute;
  left: 20px;
}
.osos-drawer-header {
  font-size: 18px !important;
}
.osos-sort-drawer {
  width: auto;
  top: 50px;
  height: 100vh;
  position: fixed;
  right: 0;
}
.osos-sort-drawer-rtl {
  width: auto;
  top: 50px;
  height: 100vh;
  position: fixed;
  left: 0;
}
.osos-expansion-panel .mat-content {
  display: block !important;
}

.osos-active-breadcrumb {
  font-size: 18px;
}

.osos-matmenu-buttons {
  min-height: 25px !important;
}

.example-container-a {
  width: 400px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.example-list {
  margin: auto;
  border: solid 1px #ccc;
  min-height: 60px;
  padding: 20px 10px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.example-box {
  padding: 20px 10px 20px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow:
    0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  .search-dialod {
    .mat-mdc-form-field-subscript-wrapper {
      display: none !important;
      visibility: hidden !important;
    }
  }
}
.main-serch-dialog .mdc-dialog__surface {
  background-color: #f7fafd !important;
  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: #fff;
    border-radius: 0;
  }
  .mat-mdc-dialog-actions {
    justify-content: end;
    padding-right: 20px;
    padding-bottom: 20px;
  }
}
.main-serch-dialog .mdc-dialog .mdc-dialog__content {
  padding-bottom: 10px;
}

.osos-sub-menu-items mat-list-item {
  border: 1px solid #ecf6ff;
}
.osos-sub-menu-items:hover {
  color: #3fa5ff !important;
  background-color: #ecf6ff;
}

.osos-sub-menu-items h1 {
  font-size: 14px;
  font-weight: 500;
}

.osos-sub-menu-items p {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.osos-active-nav-item h1 {
  color: #3fa5ff !important;
}
.osos-active-nav-item mat-icon {
  color: #3fa5ff !important;
}
.osos-active-nav-item {
  background-color: #ecf6ff !important;
}

.osos-expansion-panel-header-custom {
  height: 60px !important;
}

.mat-mdc-paginator {
  background: transparent;
  color: rgba(0, 0, 0, 0.87);
}

.osos-logouploader {
  text-align: center !important;
  border: 1px solid #bbbbbb;
}

.osos-logouploader-new {
  text-align: center !important;
  border: 1px solid #bbbbbb;
  border-style: dotted;
  padding: 10px;
}
.osos-logouploader {
  height: 150px;
}
.osos-logouploader-new h1 mat-icon {
  padding-top: 0px;
  height: auto;
  width: auto;
}
.osos-logouploader-new h1 {
  margin-bottom: 20px;
  margin-top: 20px;
}
.osos-logouploader img {
  height: 80%;
  margin-left: auto;
  margin-right: auto;
}
.font-size-10 {
  font-size: 10px !important;
}
.osos-iconsize {
  color: #3fa5ff;
}
.osos-iconsize mat-icon {
  font-size: 14px;
  height: 12px;
}
.mat-mdc-form-field-error {
  color: #ff0606;
  // span {
  //   font-size: 10px !important;
  //   font-weight: 300;
  // }
}
.mdc-text-field--disabled .mdc-floating-label {
  color: #060202cf;
}
.mat-mdc-slide-toggle .mdc-switch--disabled + label {
  color: #504a4ad6;
}
* {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}
.mat-mdc-form-field-input-control.mat-mdc-form-field-input-control {
  font-size: 12px;
  color: #202020;
  font-weight: 500 !important;
  line-height: 18px !important;
}
.mdc-text-field__input::placeholder {
  font-size: 10px !important;
  font-weight: 300 !important;
  color: #7a7a7a !important;
}
.mat-mdc-table {
  border-bottom: solid 1px #ddd !important;
}
.mdc-data-table__cell {
  font-size: 12px;
}
.mat-toolbar .mdc-button {
  font-weight: 400;
}
.mat-mdc-unelevated-button > .mat-icon,
.mat-mdc-raised-button > .mat-icon,
.mat-mdc-outlined-button > .mat-icon {
  font-size: 16px !important;
  height: 15px !important;
  width: 15px !important;
}

.module-open-dialog {
  position: absolute !important;
  right: 0 !important;
}
.mat-mdc-button > .mat-icon {
  vertical-align: middle !important;
  font-size: 18px !important;
  height: 18px !important;
  width: 18px !important;
}
.mat-mdc-select-value {
  font-weight: 500;
  color: #202020 !important;
}
.osos-st.btn-outline:hover {
  border-radius: 100px;
  background: #3fa5ff;
  border: solid 1px #3fa5ff;
  color: #fff !important;
  transition: all 0.5s ease-out;
  .mat-icon {
    color: #fff !important;
  }
}
.mat-mdc-form-field .mat-mdc-floating-label.mdc-floating-label {
  font-size: 14px !important;
  mat-label {
    font-size: 14px !important;
  }
}
.mat-mdc-checkbox.mat-mdc-checkbox-disabled label {
  color: #424242;
}
.main-feild-dialog .mat-mdc-dialog-container .mdc-dialog__surface {
  background: #f7fafd;
}
.main-feild-dialog .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: white !important;
}
.edit-trans:hover {
  background: transparent !important;
}

.history-dialog {
  position: fixed !important;
  right: 0 !important;
}

.osos-text-color-black {
  color: #202020 !important;
}

.mat-mdc-slide-toggle {
  --mdc-switch-disabled-selected-handle-color: #424242;
  --mdc-switch-disabled-unselected-handle-color: #424242;
  --mdc-switch-disabled-selected-track-color: #424242;
  --mdc-switch-disabled-unselected-track-color: #424242;
  --mdc-switch-unselected-focus-state-layer-color: #424242;
  --mdc-switch-unselected-pressed-state-layer-color: #424242;
  --mdc-switch-unselected-hover-state-layer-color: #424242;
  --mdc-switch-unselected-focus-track-color: #c9c9c9 !important;
  --mdc-switch-unselected-hover-track-color: #c9c9c9 !important;
  --mdc-switch-unselected-pressed-track-color: #c9c9c9 !important;
  --mdc-switch-unselected-track-color: #e0e0e0;
  --mdc-switch-unselected-focus-handle-color: #ffffff;
  --mdc-switch-unselected-hover-handle-color: #ffffff;
  --mdc-switch-unselected-pressed-handle-color: #ffffff;
  --mdc-switch-handle-surface-color: #ffffff;
  --mdc-switch-unselected-handle-color: #ffffff !important;
  --mdc-switch-selected-icon-color: #ffffff00;
  --mdc-switch-disabled-selected-icon-color: #3fa5ff;
  --mdc-switch-disabled-unselected-icon-color: #fff;
  --mdc-switch-unselected-icon-color: #fff;
}

.mat-mdc-slide-toggle.mat-accent {
  --mdc-switch-selected-focus-state-layer-color: #3fa5ff;
  --mdc-switch-selected-handle-color: #3fa5ff;
  --mdc-switch-selected-hover-state-layer-color: #3fa5ff;
  --mdc-switch-selected-pressed-state-layer-color: #3fa5ff;
  --mdc-switch-selected-focus-handle-color: #3fa5ff;
  --mdc-switch-selected-hover-handle-color: #3fa5ff;
  --mdc-switch-selected-pressed-handle-color: #3fa5ff;
  --mdc-switch-selected-focus-track-color: #b7ddff;
  --mdc-switch-selected-hover-track-color: #b7ddff !important;
  --mdc-switch-selected-pressed-track-color: #b7ddff !important;
  --mdc-switch-selected-track-color: #b7ddff !important;
}

.mat-mdc-slide-toggle.mat-warn {
  --mdc-switch-selected-focus-state-layer-color: #22c55e;
  --mdc-switch-selected-handle-color: #22c55e;
  --mdc-switch-selected-hover-state-layer-color: #22c55e;
  --mdc-switch-selected-pressed-state-layer-color: #22c55e;
  --mdc-switch-selected-focus-handle-color: #22c55e;
  --mdc-switch-selected-hover-handle-color: #22c55e;
  --mdc-switch-selected-pressed-handle-color: #22c55e;
  --mdc-switch-selected-focus-track-color: #128c3f;
  --mdc-switch-selected-hover-track-color: #128c3f;
  --mdc-switch-selected-pressed-track-color: #128c3f;
  --mdc-switch-selected-track-color: #128c3f;
}

.mat-mdc-slide-toggle.mat-primary {
  --mdc-switch-selected-focus-state-layer-color: #3fa5ff;
  --mdc-switch-selected-handle-color: #3fa5ff;
  --mdc-switch-selected-hover-state-layer-color: #3fa5ff;
  --mdc-switch-selected-pressed-state-layer-color: #3fa5ff;
  --mdc-switch-selected-focus-handle-color: #3fa5ff;
  --mdc-switch-selected-hover-handle-color: #3fa5ff;
  --mdc-switch-selected-pressed-handle-color: #3fa5ff;
  --mdc-switch-selected-focus-track-color: #b7ddff;
  --mdc-switch-selected-hover-track-color: #b7ddff;
  --mdc-switch-selected-pressed-track-color: #b7ddff;
  --mdc-switch-selected-track-color: #b7ddff;
}

.mat-mdc-slide-toggle
  .mdc-switch.mdc-switch--selected:enabled
  .mdc-switch__handle::after {
  background: var(
    --mdc-switch-selected-handle-color,
    var(--mdc-theme-primary, #3fa5ff)
  ) !important;
}
.mat-mdc-slide-toggle
  .mdc-switch.mdc-switch--selected:enabled
  .mdc-switch__handle::after {
  background: var(
    --mdc-switch-selected-handle-color,
    var(--mdc-theme-warn, #128c3f)
  ) !important;
}

.mat-mdc-slide-toggle .mdc-switch:enabled .mdc-switch__track::after {
  background: var(--mdc-switch-selected-track-color, #22c55e) !important;
}

.mdc-text-field--filled .mdc-line-ripple::after {
  border-bottom-color: var(--mdc-theme-primary, #3fa5ff) !important;
}
.mdc-list {
  padding: 0 !important;
}
.osos-sub-menu-items {
  transition: all 1s ease-out;
  cursor: pointer;
}
.osos-sub-menu-items:hover {
  h1 {
    color: #0076dd !important;
  }
  p {
    color: #0076dd !important;
  }
  .mat-icon {
    color: #0076dd !important;
  }
}

.lic-key-with-edit {
  line-height: 18px !important;
}
.editor quill-editor {
  width: 100%;
}
.editor .ql-snow.ql-toolbar button,
.ql-snow .ql-toolbar button {
  height: 21px !important;
  width: 21px !important;
}
.osos-chips.mat-mdc-chip-set {
  width: calc(100% - 85px) !important;
  margin-bottom: 20px !important;
}
.osos-chips.mat-mdc-chip-set .mdc-evolution-chip-set__chips {
  display: flex !important;
  flex-wrap: nowrap !important;
  overflow: hidden;
}
.osos-chips {
  .example-box {
    padding: 5px 10px;
  }
  .mat-mdc-chip.mat-mdc-standard-chip {
    height: 22px;
  }
  .mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled)
    .mdc-evolution-chip__text-label {
    color: #e0272a;
  }
  .mat-mdc-standard-chip .mdc-evolution-chip__action--primary {
    padding-left: 0px;
    padding-right: 3px;
  }
}
.search-input {
  .mat-mdc-form-field-has-icon-prefix .mat-mdc-text-field-wrapper {
    border: solid 1px #ddd;
    border-radius: 40px;
    padding: 0;
    height: 35px;
  }
  .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(
      .mdc-text-field--textarea
    )
    .mat-mdc-form-field-infix {
    padding-top: 6px;
    padding-bottom: 6px;
  }
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
    .mdc-line-ripple::before {
    display: none;
  }
  .mdc-text-field--filled .mdc-line-ripple::after {
    display: none;
  }
  .mat-mdc-form-field-icon-prefix > .mat-icon,
  .mat-mdc-form-field-icon-suffix > .mat-icon {
    padding: 6px 5px;
    box-sizing: content-box;
    margin: 0;
    font-size: 20px;
    width: 16px;
    height: 18px;
    padding-left: 13px;
    padding-right: 10px;
  }
}
.search-input .mat-mdc-form-field :-moz-placeholder {
  font-size: 14px !important;
}
.search-input .mat-mdc-form-field :-ms-input-placeholder {
  font-size: 14px !important;
}
.search-input .mat-mdc-form-field ::-webkit-input-placeholder {
  font-size: 14px !important;
}

.onboarding-img {
  width: 70% !important;
}
.onboarding {
  margin-top: auto;
  margin-bottom: auto;
  height: 400px;
  top: 0;
  bottom: 0;
}

.onboarding {
  h1 {
    text-align: left;
    font-weight: bold;
    font-size: 54px !important;
    animation-name: osos-onboarding-header;
    animation-duration: 4s;
  }
  h3 {
    text-align: left;
    font-size: medium;
    animation-name: osos-onboarding-description;
    animation-duration: 4s;
  }
  button {
    width: 400px;
    padding: 20px 0;
    margin-top: 50px;
    background-color: #3e403f !important ;
    border-radius: 100px;
    color: white !important;
    animation-name: osos-onboarding-button;
    animation-duration: 4s;
  }
}

@keyframes osos-onboarding-header {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes osos-onboarding-description {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fc th {
  text-align: center;
  background: #edf6ff;
  .fc-scrollgrid-sync-inner {
    padding: 12px;
  }
}
.fc .fc-daygrid-event {
  background: #c1e2ff;
  border-radius: 12px;
  padding: 0px 0px;
  text-align: center;
  justify-content: center;
  b {
    display: none;
  }
}
.fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
  position: absolute;
  width: 100%;
  top: 40%;
}
.fc .fc-daygrid-day-top {
  display: flex;
  flex-direction: inherit;
  align-items: center;
  justify-content: center;
}
.fc .fc-button-group > .fc-button {
  background: transparent;
  border: none;
  color: #929292;
}
.onboarding-form {
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
  height: 500px;
}
.onboarding-form {
  h1 {
    text-align: left;
    font-weight: bold;
    font-size: 36px !important;
    margin-bottom: 50px;
  }
  form h3 {
    font-size: 14px;
    color: #0076dd;
  }
  .button-solid {
    width: 200px;
    margin-top: 20px;
    background-color: #3e403f !important ;
    border-radius: 100px;
    color: white !important;
  }
  .btn-outline {
    width: 200px;
    margin-top: 20px;
    border: 1px solid#3E403F;
    background-color: white !important ;
    border-radius: 100px;
    color: #3e403f !important;
  }
  .button-solid:hover {
    width: 200px;
    margin-top: 20px;
    background-color: #3e403f !important ;
    border-radius: 100px;
    color: white !important;
  }
  .btn-outline:hover {
    width: 200px;
    margin-top: 20px;
    border: 1px solid#3E403F;
    background-color: 3e403F !important ;
    border-radius: 100px;
    color: #3e403f !important;
  }
}
.datepicker {
  .mat-mdc-icon-button {
    width: 36px !important;
    height: 36px !important;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.holiday-details-dialog {
  h1 {
    font-size: 14px;
    margin-bottom: 0;
  }
  .mat-mdc-dialog-container .mdc-dialog__title {
    font-size: 14px;
    margin-bottom: 0;
  }
  .heading {
    .mat-icon {
      color: #64748b;
      cursor: pointer;
    }
    .mat-icon.delete {
      color: #f60505 !important;
      cursor: pointer;
      margin-right: 5px;
    }
  }
  .mat-mdc-dialog-actions {
    justify-content: space-between;
    padding: 0px 20px;
  }
  mat-label {
    background: #ffef84;
    font-size: 10px;
    color: #ca7f13;
    padding: 3px 18px;
    border-radius: 12px;
  }
  .mat-mdc-button .mat-mdc-button-persistent-ripple::before {
    background: transparent !important;
  }
  .osos-st.btn-outline {
    height: 25px;
    border-color: #f60505;
    color: #f60505 !important;
    &:hover {
      background: #f60505;
      color: #fff !important;
      .mat-icon {
        color: #fff !important;
      }
    }
    &:active {
      background: transparent !important;
    }
    .mat-icon {
      color: #f60505 !important;
    }
  }
  .dis {
    font-size: 12px;
    line-height: 1.5;
    color: #202020;
    padding-left: 25px;
    position: relative;
  }
  .disicon {
    width: 14px;
    height: 13px;
    position: absolute;
    top: 2px;
    left: 1px;
    font-size: 14px;
    color: #485351;
  }
  .date {
    margin-bottom: 20px;
    color: #202020;
    font-weight: 500;
    padding-left: 25px;
  }
  h2 {
    font-size: 16px;
    color: #485351;
    position: relative;
    margin-bottom: 7px;
    padding-left: 25px;
    font-weight: 500;
  }
  h2::before {
    content: '';
    width: 11px;
    height: 11px;
    background: #7cbbf2;
    display: block;
    position: absolute;
    border-radius: 12px;
    top: 4px;
    left: 2px;
  }
  .mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 12px;
    padding: 18px;
  }
}
.main-property {
  .mat-expansion-indicator {
    display: none !important;
  }
  .mat-expansion-panel:not([class*='mat-elevation-z']) {
    box-shadow: none;
    border: dashed 1px #ddd;
    background: transparent;
  }
  .mat-expansion-panel-body {
    margin: 0;
    padding: 0;
    padding-top: 0 !important;
  }
  button.items {
    width: 100%;
    text-align: left;
    padding: 9px;
    transition: all ease-out;
    &:hover {
      background: whitesmoke;
      color: #047be3;
    }
  }
}
.select-icon-dialog {
  h1 {
    font-size: 16px;
    font-weight: 500;
  }
  .mat-mdc-dialog-surface.mdc-dialog__surface {
    padding: 20px;
  }
  .copy-coad {
    background: #ecf6ff;
    border-radius: 5px;
    padding: 10px;
    input {
      width: 80%;
      background: transparent;
      color: #128efb;
      border: none;
      outline: none;
    }
    button {
      .mat-icon {
        width: 18px;
        height: 18px;
        font-size: 18px;
        color: #128efb;
      }
    }
  }
  .serch-sec {
    .example-form {
      max-width: 100%;
      padding-right: 20px;
    }
    input::placeholder {
      font-size: 14px !important;
      font-weight: 400 !important;
    }
    .mat-mdc-form-field-subscript-wrapper {
      display: none !important;
    }
    .big-icon {
      width: 115px;
      height: 90px;
      border: solid 1px #ddd;
      border-radius: 10px;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      .mat-icon {
        width: 60px;
        height: 60px;
        font-size: 60px;
        color: #64748b;
      }
    }
  }
  .icon-set {
    .icon {
      cursor: pointer;
      width: 48px;
      height: 48px;
      border: solid 1px #ddd;
      border-radius: 11px;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      .mat-icon {
        color: #64748b;
      }
    }
  }
}
.input-form {
  .mat-mdc-form-field-subscript-wrapper {
    display: none !important;
  }
}
.upload-button {
  span.mdc-button__label {
    width: 100% !important;
  }
}

.mat-mdc-checkbox.mat-primary {
  --mdc-checkbox-disabled-selected-icon-color: rgba(0, 0, 0, 0.38);
  --mdc-checkbox-disabled-unselected-icon-color: rgba(0, 0, 0, 0.38);
  --mdc-checkbox-selected-checkmark-color: #fff;
  --mdc-checkbox-selected-focus-icon-color: #3fa5ff;
  --mdc-checkbox-selected-hover-icon-color: #3fa5ff;
  --mdc-checkbox-selected-icon-color: #3fa5ff;
  --mdc-checkbox-selected-pressed-icon-color: #3fa5ff;
  --mdc-checkbox-unselected-focus-icon-color: #212121;
  --mdc-checkbox-unselected-hover-icon-color: #212121;
  --mdc-checkbox-unselected-icon-color: rgba(0, 0, 0, 0.54);
  --mdc-checkbox-unselected-pressed-icon-color: rgba(0, 0, 0, 0.54);
  --mdc-checkbox-selected-focus-state-layer-color: #3fa5ff;
  --mdc-checkbox-selected-hover-state-layer-color: #3fa5ff;
  --mdc-checkbox-selected-pressed-state-layer-color: #3fa5ff;
  --mdc-checkbox-unselected-focus-state-layer-color: black;
  --mdc-checkbox-unselected-hover-state-layer-color: black;
  --mdc-checkbox-unselected-pressed-state-layer-color: black;
}

.delete-dialog .mat-mdc-dialog-container .mdc-dialog__surface {
  --mdc-dialog-container-shape: 25px !important;
}
.dialog-wrap {
  padding: 2rem;
  background: #f7fafd;
  h2 {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 1.5rem;
  }
  .mat-mdc-text-field-wrapper {
    background-color: #fff !important;
  }
}

.delete-dialog {
  h6 {
    font-size: 16px !important;
    padding: 0;
    font-weight: 500;
    color: #1e293b !important;
  }
  .mdc-dialog__surface {
    border-radius: 15px !important;
  }
  .comman-delete-dialog {
    padding: 17px;
    .mdc-button--unelevated {
      transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
      padding: 0 23px 0 23px;
      max-height: 32px;
      .mdc-button__label {
        font-size: 14px;
      }
    }
  }
  .dialog-footer {
    margin-top: 18px;
  }
  .mdc-dialog__content {
    padding: 0 !important;
  }
  .mat-icon.mat-warn {
    color: #f44336;
    font-size: 22px;
  }
  p.dits {
    font-size: 14px;
    font-weight: 400;
    color: #1e293b;
    margin-top: 10px;
    line-height: 1.5;
  }
}
.btn-save {
  .mdc-button__label {
    font-size: 14px;
  }
  .btn-save-icon {
    font-size: 20px !important;
    height: 20px !important;
    width: 20px !important;
  }
}
.btn-view {
  .mdc-button__label {
    font-size: 14px;
  }
  .btn-view-icon {
    font-size: 20px !important;
    height: 20px !important;
    width: 20px !important;
    color: #3fa5ff;
  }
}
.swichbase-customize-Style {
  label {
    font-size: 14px;
  }
}
.mat-mdc-menu-item {
  min-height: 35px !important;
}

.osos-padding-remove {
  .mat-mdc-form-field-subscript-wrapper {
    display: none !important;
  }
}

.license-key .mdc-text-field--disabled.mdc-text-field--filled {
  padding-bottom: 10px;
}
.mat-mdc-slide-toggle .mdc-switch:disabled .mdc-switch__track::after {
  background: #0286fa !important;
}
.mat-mdc-slide-toggle
  .mdc-switch.mdc-switch--selected:disabled
  .mdc-switch__handle::after {
  background: #3fa5ff !important;
  opacity: 1;
}
.mat-mdc-slide-toggle .mdc-switch--disabled + label {
  color: initial !important;
}
.last-input {
  .mat-mdc-form-field-subscript-wrapper {
    display: none !important;
  }
}

.osos-tab-font {
  .mat-mdc-tab-header {
    --mat-tab-header-label-text-letter-spacing: 0px !important;
  }
}
.osos-btn-tabpanels {
  margin-bottom: 10px;
  border-radius: 100px;
  float: right;
  background-color: #3fa5ff !important;
  color: white !important;
  width: 174px;
}

.tenent-dialog .mat-mdc-dialog-container .mdc-dialog__surface {
  background: #f7fafd !important;
}
.tenent-dialog .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #fff;
  padding-bottom: 9px;
  padding-top: 7px;
  label {
    padding-bottom: 4px;
  }
}
.tenent-dialog .mat-mdc-dialog-container .mdc-dialog__content {
  padding-bottom: 0;
}
.tenent-dialog {
  .mdc-dialog__surface {
    border-radius: 12px !important;
  }
  h1#mat-mdc-dialog-title-0 {
    font-size: 15px;
    font-weight: 600;
  }
  .btn-save .mdc-button__label {
    font-size: 13px;
    font-weight: 400;
  }
  .btn-save,
  .btn-outline {
    height: 27px !important;
  }
  .btn-outline .mdc-button__label {
    font-size: 13px;
    font-weight: 400;
  }
}
.card-gaps {
  .text-left {
    margin-left: 50px !important;
    .label-display-bottom {
      margin-top: 8px;
      .mat-form-field {
        font-size: 20px !important;
      }
    }
  }
}
.common-table {
  tr {
    td:first-child {
      width: 80px !important;
    }
  }
}
.btn-drower-save {
  height: 28px !important;
  font-weight: 400 !important;
  padding: 2px 17px !important;
  margin-bottom: 2rem !important;
}
.co-options-rtl {
  border-bottom: solid 0.5px #ddd;
  padding-left: 40px !important;
}
.co-options-rtl .mat-pseudo-checkbox {
  position: absolute !important;
  left: 0;
}
.co-options-rtl .mat-pseudo-checkbox-full {
  border: 1px solid;
  border-color: #3fa5ff;
}
.mat-primary .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-full,
.mat-primary .mat-pseudo-checkbox-indeterminate.mat-pseudo-checkbox-full {
  background: #3fa5ff;
}
.mat-primary
  .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled)
  .mdc-list-item__primary-text {
  color: #161616;
}
.attention-icon {
  padding: 0;
  background-color: rgba(63, 165, 255, 0.1);
  color: #3fa5fe !important;
  border-radius: 100px;
  width: 35px;
  height: 35px;
  margin-top: 0px;
  margin-right: 18px;
  .mat-icon {
    width: auto !important;
  }
}

.osos-button-close-popup {
  color: #1e293b;
  border: 1px solid #e2e8f0;
  border-radius: 100px;
  background-color: white;
}

.change-password-dialog {
  .mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 15px;
  }
  .change-pw {
    h1 {
      font-size: 15px !important;
      font-weight: 500;
      margin-bottom: 6px;
    }
    .sub-headings {
      p {
        font-size: 11px;
        font-weight: 400;
        color: #7a7f89;
      }
    }
    .last-logins {
      p {
        font-size: 12px;
        color: #64748b;
        font-weight: 500;
        margin-bottom: 6px;
      }
      font-size: 11px;
      font-weight: 400;
      color: #7a7f89;
      display: block;
    }
    .last-logins-rtl {
      p {
        font-size: 12px;
        color: #64748b;
        font-weight: 500;
        margin-bottom: 6px;
      }
      font-size: 11px;
      font-weight: 400;
      color: #7a7f89;
      display: block;
    }
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
.module-open-dialog-from-side {
  position: fixed !important;
  right: 0 !important;
  animation: slideInFromRight 0.3s ease-out !important;
  z-index: 1000 !important;
  h3 {
    font-size: 13px;
  }
}

@keyframes slideInFromRight-rtl {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
.module-open-dialog-from-side-rtl {
  position: fixed !important;
  left: 0 !important;
  animation: slideInFromRight-rtl 0.3s ease-out !important;
  z-index: 1000 !important;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
.module-close-drawer-from-side {
  position: fixed !important;
  right: 0 !important;
  animation: slideInFromLeft 0.3s ease-out !important;
  z-index: 1000 !important;
}

@keyframes slideInFromLeft-rtl {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.module-close-drawer-from-side-rtl {
  position: fixed !important;
  left: 0 !important;
  animation: slideInFromLeft-rtl 0.3s ease-out !important;
  z-index: 1000 !important;
}

.pw-div .mat-mdc-form-field-hint-wrapper,
.mat-mdc-form-field-error-wrapper {
  height: 20px !important;
  overflow: hidden !important;
}

.font-size-14 {
  font-size: 14px !important;
}

.common-table.first-col-nonwidth {
  tr {
    td:first-child {
      width: auto !important;
    }
  }
}

.ql-snow.ql-disabled {
  border: 1px solid #dfe4eb;
  .ql-editor {
    background: #eeeeee !important;
    p {
      color: #000;
      line-height: 1.5;
    }
  }
}
.btn-outline .mdc-button__label {
  font-size: 14px;
}
.comman-styles-dialog {
  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: #fff;
  }
  .mat-mdc-dialog-container .mdc-dialog__surface {
    background-color: #f7fafd;
    padding: 2em;
  }
  h1 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  .footer {
    display: flex;
    justify-content: end;
    .btn-view {
      height: 30px;
    }
    .btn-save {
      height: 30px;
    }
  }
}
.mat-mdc-tab-body {
  .mat-elevation-z8 {
    box-shadow: none;
    padding: 0;
  }
}
.form-control-check-top {
  margin-top: -22px;
}
.mat-form-field-appearance-fill .mat-mdc-select-arrow-wrapper {
  transform: translateY(0px) !important;
}
.mat-mdc-select-arrow-wrapper {
  height: 10px !important;
}
.mat-mdc-form-field-input-control.mat-mdc-form-field-input-control {
  line-height: 25px !important;
}
.mat-mdc-select-arrow {
  width: 10px;
  height: 5px;
  position: absolute;
  top: -5px;
  right: 0px;
}
.form-control-check-top {
  margin-top: -22px;
}

.sub-header-inner {
  position: absolute;
  right: 12px;
  display: flex;
}
.sub-header-inner-rtl {
  position: absolute;
  left: 12px;
  display: flex;
}
.general-menu-border {
  border-right: 1px solid #e2e8f0;
}
.general-menu-border-rtl {
  border-left: 1px solid #e2e8f0;
  height: 185%;
}

.notification-preview {
  .mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 12px;
  }
  .ql-snow.ql-disabled .ql-editor {
    background: #fff !important;
    border: none !important;
    padding-top: 0;
  }
  .ql-snow.ql-disabled {
    border: none !important;
  }
}

.left-bread {
  margin-left: 30px !important;
  padding-top: 7px !important;
  padding-bottom: 7px !important;
  margin-top: 4px !important;
}
.paginator {
  margin-top: 0;
  .mdc-notched-outline__trailing {
    border-right: none;
    border-top: none;
    border-radius: 0 !important;
    border-color: #c9c9c9;
  }
  .mdc-notched-outline__leading {
    border-left: none;
    border-top: none;
    border-radius: 0 !important;
    border-color: #c9c9c9;
  }
  .mat-mdc-select-trigger {
    display: flex;
  }
  .mat-mdc-select-arrow {
    margin-top: 8px;
  }
  .mat-mdc-paginator-range-label {
    margin: 0 8px 0 8px;
  }
  .mat-mdc-icon-button.mat-mdc-button-base {
    padding: 0;
    width: 30px;
    height: 30px;
  }
  .mat-mdc-paginator-page-size-select {
    width: 61px;
  }
  .mdc-text-field--outlined {
    padding: 0 8px;
  }
}
.mat-sort-header-content {
  font-size: 14px;
}
.editor-error {
  .tox-tinymce {
    border: 1px solid #ff0606 !important;
  }
}

.mat-sort-header-content {
  font-size: 14px;
}
.mat-toolbar .mdc-button.btn-icon-only {
  padding: 0 !important;
  min-width: 30px;
  background: transparent;
  border-radius: 40px;
  .mat-icon {
    font-size: 24px !important;
    height: 24px !important;
    width: 24px !important;
    margin-right: 0;
  }
}
.mat-drower-items {
  padding-left: 0 !important;
  padding-right: 0 !important;
  .inner-items {
    padding-right: 25px;
    position: relative;
    button {
      position: absolute;
      right: 10px;
      top: 0;
      bottom: 0;
    }
  }
}
.sub-module-select {
  background: #e2e8f0;
  span {
    font-size: 16px;
    font-weight: bold;
  }
}
.mat-mdc-option.sub-module-select:hover {
  background: #e2e8f0 !important;
}
.select-submenu-dialog {
  .mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 9px;
    padding: 20px;
  }
  h3 {
    margin-bottom: 13px;
    font-size: 15px;
    font-weight: 500;
  }
}
.mat-mdc-paginator-range-actions {
  padding-top: 7px;
  .mat-mdc-tooltip-trigger {
    svg {
      display: none !important;
    }
  }
  .mat-mdc-paginator-navigation-first {
    &::before {
      font-family: 'Material Icons';
      content: '\e045';
      font-size: 20px;
    }
  }
  .mat-mdc-paginator-navigation-previous {
    &::before {
      font-family: 'Material Icons';
      content: '\e5de';
      font-size: 30px;
      line-height: 0.5;
      width: 26px;
      height: 26px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .mat-mdc-paginator-navigation-next {
    &::before {
      font-family: 'Material Icons';
      content: '\e5df';
      font-size: 30px;
      line-height: 0.5;
      width: 26px;
      height: 26px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .mat-mdc-paginator-navigation-last {
    &::before {
      font-family: 'Material Icons';
      content: '\e044';
      font-size: 20px;
    }
  }
}
.paginator .mat-mdc-paginator-range-label {
  margin-right: 20px;
  margin-top: -1px;
}
.mat-mdc-paginator-page-size {
  .mat-mdc-select-arrow {
    svg {
      display: none;
    }
    &::before {
      font-family: 'Material Icons';
      content: '\e5cf';
      font-size: 18px;
      line-height: 1;
      top: -5px;
      position: relative;
      left: -4px;
    }
  }
}
.mat-mdc-paginator
  .mat-mdc-text-field-wrapper.mdc-text-field--outlined
  .mat-mdc-form-field-infix {
  padding-top: 9px;
  padding-bottom: 3px;
}
.history-inner-dialog {
  .mat-mdc-dialog-surface.mdc-dialog__surface {
    border-radius: 15px;
  }
}
.status {
  width: 90px;
  margin-top: 3px;
}
.comman-table-border {
  border-left: solid 1px #ddd;
  border-right: solid 1px #ddd;
}
.border-tr {
  border-right: 1px solid #e2e8f0;
  border-top: 1px solid #e2e8f0;
}
.border-tpt {
  border-right: 1px solid #e2e8f0;
}
.shadow-box {
  box-shadow: 0 0.0625em 0.5em rgba(0, 0, 0, 0.3);
  background-color: #fff;
}
.company-serch {
  .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(
      .mdc-text-field--textarea
    )
    .mat-mdc-form-field-infix {
    padding-top: 10px;
    padding-bottom: 0px;
  }

  .mat-mdc-form-field-infix {
    min-height: 15px;
  }

  input::placeholder {
    font-size: 12px !important;
    font-weight: 400 !important;
  }

  .mat-icon {
    width: 20px;
    height: 20px;
    font-size: 19px;
    margin-top: 9px;
    color: #a1a1a1;
  }
  .mat-mdc-form-field-subscript-wrapper {
    display: none !important;
  }
}
.c-total {
  font-size: 10px;
  padding-left: 9px;
  padding-top: 12px;
  margin-bottom: 10px;
  color: #7a7f89;
}
.mat-c-menu {
  .mdc-list-item {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.main-feild-dialog {
  .mdc-dialog .mdc-dialog__content {
    padding-bottom: 0;
  }
  .mdc-dialog__container {
    .mdc-dialog__actions {
      padding-top: 0;
      margin-top: 0 !important;
    }
  }
}
.custom-chips {
  .mat-mdc-select-value {
    overflow: scroll !important;
    text-overflow: clip !important;
    padding-bottom: 1px;
    margin-bottom: 2px;
  }
  .mat-mdc-select-value::-webkit-scrollbar {
    width: 5px;
    height: 7px;
  }
  .mat-mdc-chip.mat-mdc-standard-chip {
    height: 22px;
    margin-right: 3px;
  }
  .mat-mdc-chip.mdc-evolution-chip--with-trailing-action
    .mat-mdc-chip-action-label {
    font-size: 11px;
  }
}
.ngx-securtiy {
  .ngx-timepicker {
    border-bottom: none !important;
  }
}

.date-rang-select {
  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
  .clear-btn {
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    height: 27px !important;
    box-shadow: none !important;
    background: transparent !important;
    min-width: 27px !important;
    margin-left: 12px !important;
    .mat-icon {
      font-size: 24px !important;
      width: 24px !important;
      height: 24px !important;
      line-height: 1;
      margin-right: 0;
    }
  }
  .clear-btn:hover {
    background: transparent !important;
  }
  .mat-mdc-button .mat-mdc-button-persistent-ripple::before,
  .mat-mdc-unelevated-button .mat-mdc-button-persistent-ripple::before,
  .mat-mdc-raised-button .mat-mdc-button-persistent-ripple::before,
  .mat-mdc-outlined-button .mat-mdc-button-persistent-ripple::before {
    background-color: transparent !important;
  }
}

.security-sub-header {
  width: calc(100% - 435px) !important;
  position: fixed;
  background-color: #f8fafc;
  top: 62px;
  z-index: 999;
}
.absalote-dev {
  position: relative;
  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
}
.hide-first {
  position: relative;
}
button.add-only {
  width: 20px;
  background: #3fa5ff;
  border-radius: 23px;
  color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 36px;
  margin-top: 5px;
  position: absolute;
  right: -70px;
  bottom: 4px;
  .mat-icon {
    margin: 0;
    color: #edf6ff;
  }
}
button.add-only-rtl {
  width: 20px;
  background: #3fa5ff;
  border-radius: 23px;
  color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 36px;
  margin-top: 5px;
  position: absolute;
  left: -70px;
  bottom: 4px;
  .mat-icon {
    margin: 0 !important;
    color: #edf6ff;
  }
}
.remove-row {
  width: 14px;
  min-width: 24px;
  margin-top: 5px;
  height: 27px;
  position: absolute;
  right: -28px;
  bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  .mat-icon {
    margin: 0;
    color: #e0272a;
  }
}
.remove-row-rtl {
  width: 14px;
  min-width: 24px;
  margin-top: 5px;
  height: 27px;
  position: absolute;
  left: -28px;
  bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  .mat-icon {
    margin: 0;
    color: #e0272a;
  }
}
.mdc-list-item--with-leading-icon .mdc-list-item__start {
  margin-left: 13px !important;
  margin-right: 16px !important;
}
.mat-mdc-list-item.mdc-list-item--with-leading-icon.mdc-list-item--with-one-line {
  height: 60px;
}
.default-layout {
  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background: #eeeeee !important;
  }
}
.d-type {
  .form-control .checkbox.mat-mdc-slide-toggle .mdc-switch {
    right: 0px;
  }
}
.customtooltip {
  position: absolute;
  right: 0;
}
.customtooltip-content.mat-mdc-menu-panel.mat-mdc-menu-panel {
  min-width: auto;
  max-width: none;
  padding: 12px;
  overflow: initial;
  background: rgb(2 2 2 / 61%);
  color: #fff;
  box-shadow: none;
  margin-top: 5px;
  &::after {
    position: absolute;
    top: -8px;
    content: '';
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 8px solid rgb(2 2 2 / 61%);
    left: 8px;
  }
  ul {
    li {
      position: relative;
      padding-left: 15px;
      font-size: 10px;
      margin-bottom: 9px;
      strong {
        font-size: 11px;
        font-weight: 500;
      }
    }
    li:last-child {
      margin-bottom: 0;
    }
    li::after {
      width: 6px;
      height: 6px;
      background: #fff;
      position: absolute;
      content: '';
      left: 0;
      border-radius: 7px;
      top: 4px;
    }
  }
}

.osos-segment-card {
  width: 250px;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px 0px #c4c4c4;
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  align-items: center;
  P{
  padding-bottom: 12px;
  }
.screl {
  height: 95vh;
  width: 95vw;
}
.mat-mdc-form-field.sort-by-outter .mat-mdc-floating-label.mdc-floating-label {
  mat-label {
    font-size: 12px !important;
  }
}
}
