@media only screen and (min-width: 640px) {}
@media only screen and (min-width: 768px) {}
@media only screen and (min-width: 1024px) {}
@media only screen and (min-width: 1280px) {}
@media only screen and (min-width: 1536px) {}

@media only screen and (max-width: 640px) {
    .body.show-sidebar .main-submenu-wrap.show-sub-sidebar {
        left: 0 !important;
        width: 100% !important;
        right: 0 !important;
    }
    .show-sidebar aside {
        width: 100% !important;
    }
    .d-flex.toolbar-icons {
        width: 100px;
    }
    .btn-view{
        min-width: 31px !important;
        padding: 0 !important;
        width: 31px !important;
        .mdc-button__label{
            display: none;
        }
        .mat-icon{
            margin: 0 !important;
        }
    }
    .osos-st.btn-outline{
        min-width: 31px !important;
        padding: 0 !important;
        width: 31px !important;
        .mdc-button__label{
            display: none;
        }
        .mat-icon{
            margin: 0 !important;
        }
    }
    .btn-save{
        min-width: 31px !important;
        padding: 0 !important;
        width: 31px !important;
        .mdc-button__label{
            display: none;
        }
        .mat-icon{
            margin: 0 !important;
        }
    }
    .main-wrap{
        width: 100%;
        left: 0;
        .sub-header{
            width: 100%!important;
            .table-label{
                width: 71px !important;
            }
            .checkbox{

            }
        }
    }
    .osos-button-close-popup{
        min-width: 31px !important;
        padding: 0 !important;
        width: 31px !important;
        .mdc-button__label{
            display: none;
        }
        .mat-icon{
            margin: 0 !important;
        }
    }
    aside {
        width: 0 !important;
    }
    .breadcrumb-container{
        .clickable{
            display: none;
        }
    }
    .mat-mdc-paginator-page-size-label {
        display: none;
    }
    .mdc-data-table__cell, .mdc-data-table__header-cell {
        padding: 0 5px 0 5px !important;
    }
    .mdc-data-table__cell {
        white-space: nowrap;
    }
    .breadcrumb {
        width: 35%;
        justify-content: left !important;
        .breadcrumb-container{
            .last-breadcrumb{
                font-size: 14px !important;
                display: block !important;
            }
        }
    }
    .mat-expansion-panel-body{
        .form-control.mat-mdc-form-field {
            padding: 0 0px !important;
        }
    }
    .ql-toolbar.ql-snow {
        display: flex;
        overflow: scroll;
    }
    .ql-snow .ql-formats {
        display: flex;
    }
    .pb-16 {
        padding-bottom: 6rem;
    }
    .mat-right-top{
        width: 100%;
        margin-top: 20px;
    }
    .mat-mdc-list-base {
        width: 100%;
    }
    .column-selection-drawer{
        width: 100% !important;
        padding: 20px;
    }
    .osos-sort-drawer {
        width: 100%;
    }
    .mat-drawer{
        .mat-mdc-list-item, .mat-mdc-list-option {
            width: 100%;
            display: table;
            box-sizing: border-box;
            -webkit-tap-highlight-color: rgba(0,0,0,0);
        }
    }
    .sortdrawer {
        width: 100% !important;
    }
    .comman-drawer{
        .mat-mdc-form-field{
            width: 100% !important;
        }
    }
}