<!-- ============================================================== -->
<!-- sidebar -->
<!-- ============================================================== -->
<div class="user-profile">
    <!-- User profile image -->
    <!-- <div class="profile-img"> <img src="" alt="user"> </div> -->
    <!-- User profile text-->
    <!-- ============================================================== -->
    <!-- Profile - style you can find in header.scss -->
    <!-- ============================================================== -->
    <div class="profile-text"><a [matMenuTriggerFor]="sdprofile" class=""> Markarn Doe <i
                class="ti-angle-down font-12 m-l-5"></i></a></div>
    <mat-menu #sdprofile="matMenu" class="mymegamenu">
        <button mat-menu-item>
            <mat-icon fontIcon="settings"></mat-icon> Settings </button>
        <button mat-menu-item>
            <mat-icon fontIcon="account_box"></mat-icon> Profile </button>
        <button mat-menu-item>
            <mat-icon fontIcon="notifications_off"></mat-icon> Disable notifications </button>
        <button mat-menu-item>
            <mat-icon fontIcon="exit_to_app"></mat-icon> Sign Out </button>
    </mat-menu>

</div>
<mat-nav-list appAccordion>
      
      <mat-list-item appAccordionLink *ngFor="let menuitem of menuItems.getMenuitem()" routerLinkActive="selected">
          <a class="" appAccordionToggle [routerLink]="['/', menuitem.state]" *ngIf="menuitem.type === 'link'">
              <mat-icon>{{ menuitem.icon }}</mat-icon>
              <span>{{ menuitem.name }}</span>
              <span fxFlex></span>

          </a>
          <a class="" appAccordionToggle [routerLink]="['/', menuitem.state]" *ngIf="menuitem.type === 'expandable'">
              <div appAccordionLink>
                  <mat-icon>{{ menuitem.icon }}</mat-icon>
                  <span>{{ menuitem.name }}</span>
                  <mat-icon class="accordion-icon" [ngClass]="{ 'expanded': isExpanded }">expand_more</mat-icon>
                </div>
                <mat-list *ngIf="isExpanded">
                  <ng-container *ngFor="let childItem of menuitem.children">
                    <mat-list-item>
                      <a [routerLink]="['/', childItem.state]" routerLinkActive="selected">
                        <mat-icon>{{ childItem.icon }}</mat-icon>
                        <span>{{ childItem.name }}</span>
                        <span fxFlex></span>
                      </a>
                    </mat-list-item>
                  </ng-container>
                </mat-list>
          </a>

      </mat-list-item>

    <!-- <mat-list-item *ngIf="menuitem.type === 'expandable'">
        <div appAccordionLink>
          <mat-icon>{{ menuItem.icon }}</mat-icon>
          <span>{{ menuItem.name }}</span>
          <mat-icon class="accordion-icon" [ngClass]="{ 'expanded': isExpanded }">expand_more</mat-icon>
        </div>
        <mat-list *ngIf="isExpanded">
          <ng-container *ngFor="let childItem of menuItem.children">
            <mat-list-item>
              <a [routerLink]="['/', childItem.state]" routerLinkActive="selected">
                <mat-icon>{{ childItem.icon }}</mat-icon>
                <span>{{ childItem.name }}</span>
                <span fxFlex></span>
              </a>
            </mat-list-item>
          </ng-container>
        </mat-list>
      </mat-list-item> -->

</mat-nav-list>